#blocklyDiv {
  height: 500px;
  width: 55%;
}

#toolbox {
  display: none;
}

#form-outer {
  width: 45%;
  padding: 2%;
}

#form-button {
  display: flex;
  justify-content: flex-end;
}

.generator {
  overflow: auto;
  white-space: nowrap;
  border: 1px solid #ddd;
  height: 450px;
  width: 49%;
  padding: 15px;
}

.container {
  margin: 2%;
  width: 96%;
  display: flex;
  justify-content: space-between;
}

.title {
  margin-left: 2%;
  font-size: 23px;
  font-weight: bold;
}

.title2 {
  margin-top: 0px;
  font-size: 23px;
  font-weight: bold;
}

.semi-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0px 0px 15px 0px;
}

#scroll {
  border: none;
  width: 100%;
  height: 100%;
  margin-right: 10px;
  overflow: scroll;
}
