@use "../../../../variables.scss" as *;

.login-form {
  width: 300px;
  ::ng-deep .form-text {
    color: var(--base-text-color-alpha);
  }
}

.reset-link {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  margin: 6px 0 25px 0;

  a {
    cursor: pointer;
  }
}
