@use "../../../../variables.scss" as *;

.create-account-form {
  width: 300px;
  .policy-info {
    color: var(--base-text-color-alpha);
    font-size: 12px;
    font-style: normal;

    a {
      color: var(--base-text-color-alpha);
    }
  }

  .login-link {
    color: var(--accent-color);
    font-size: 12px;
    text-align: center;
    padding: 6px 0 16px 0;
  }
}
